<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Swadheenta</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
            
              
              table {
                border-collapse: collapse;
                width: 100%;
              }
              
              th,td {
                text-align: left;
                padding:15px;
              }
              th{background-color: #ccc7c7;}
              tr:nth-child(even) {background-color: #f2f2f2;}
              tr:hover {background-color:#d6cddf;}
        .title{
            font:30px "San Francisco", hectiva,arial;
            color:#312457 ;
        }
        .but{
            font:30px "San Francisco", hectiva,arial;
            text-align:center;
        }
        .content11{
            font-family: "San Francisco",Helvetica,Arial,sans-serif;
            font-weight: 700px;
            color:#ffffff;
            font-size:60px;
        }
        .heading{
            color:#312457;
            font-size:24px;
            font-family:"San Francisco",Helvetica,Arial,sans-serif;
            padding:15px 0px;
            background:#fff9f0
        }
        .body{
            font-size:18px;
            font-family:"San Francisco",Helvetica,Arial,sans-serif; 
            background:#fff9f0         
        }
        .nav-pills > li > a.active {
            background-color: #f7f7f7!important;
            color:#632ef7!important;
        }
        .accor{
            background:#c3bbce;
            border:none;
            
        }
        .red:hover{
            background-color:rgb(226, 190, 255);
            color:rgb(18, 0, 32)!important;
            
            transition: .3s ease-in-out;
        }   
        
        button:hover{
            position:relative;
            width:200px;
            height:110%;
            background: #c3bbce;
            overflow:auto;
            transform:scale(1.05);
            transition: .1s ease-in-out;
            
        }
        .in{
            background:#fff;
        }
        .bag{
            position:relative;
            left:-47px; 
            top:50px; 
            color:rgb(185, 101, 233); 
            font-size:20px; 
            background-color:whitesmoke; 
            padding:50px; 
            border-radius:10px;

        }
        .bag:hover{
            background-color: #ece0f5;
            transform:scale(1.015);
            transition: 0.2s ease-in-out;
        }
        .ind{
            position:relative;
            left:30px;

        }
        .point:hover{
            cursor: pointer;
        }
        .imgc:hover{
            transform:scale(1.01);
            transition: .15s ease-in-out;
        }
    </style>
</head>
<body data-spy='scroll' data-target='.navbar' style="position:relative;"  >
    <div class="image" >
            <img src="https://www.bing.com/images/blob?bcid=S4RRUn7gtpsA8Q" class="img-fluid" style="height:150%;width:150%;" alt="swadheenta">
    </div>
    <div class="container position-relative mt-4 mt-lg-0 mb-lg-5">
        <div class="d-flex justify-content-center flex-column flex-md-row align-items-center">
            <div class="header-text mx-lg-5 text-center text-md-left" style="position:relative;right:100px;top:20px;">
                
                <div class="title mt-2" style="font-size:30p;">
                    <div class="title">7-9 february, 2020</div><p style="color:#007bff;font-size:30px; padding:15px 0px;"><a href="https://www.google.com/maps/place/Dhirubhai+Ambani+Institute+of+Information+and+Communication+Technology/@23.1885469,72.6268407,17z/data=!3m1!4b1!4m5!3m4!1s0x395c2a3c9618d2c5:0xc54de484f986b1fa!8m2!3d23.1885469!4d72.6290294">DAIICT,Gandhinagar</a></p>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center mx-md-5 mt-md-0 mt-5" style="position:relative;top:20px;margin:48px 0px 0px;left:60px;">
                <button class="btn btn-block d-flex justify-content-center btn-primary btn-lg py-3 px-5 apply-btn but" id="applynow-button-hero" style=" text-transform: none;background-color:#6bc8b0;border:none;color:#ffffff;padding:16px 48px; font-size:25px;width:150%;height:75px;">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px; background-color:#6bc8b0; color:#ffffff;">
                        <path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"></path><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z" ></path></svg>Go to Dashboard</button> <a class="btn btn-block btn-primary btn-lg py-3 px-5 mt-4 text-center but" target="__blank" href="https://devfolio.co/inout2019/ticket" style="background-color:#6bc8b0;border:none;font-size:25px;color:#ffffff;padding:16px 48px;margin:24px 0px 0px;width:150%;height:75px;">Register Now
                         </a></div></div></div>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top " style="background-color:#f7f7f7;top:10px;height:90px;box-shadow: 0px 0px 5px 0px #575151;border: 2px ;border-style:hidden;border-radius: 11px;width:75%;left:12%;">
            <a class="navbar-brand" href="#" style="position:relative;z-index:2;">
                    <img src="https://lh3.googleusercontent.com/Gl5mLGN6UM-uqppL_OmLRg0Rxcnyprzuw28TdjPT4RZtzTIkIUCwBK3_hD_YP4ECCmdv=s170" alt="sifsifp" >
                  </a>    
          
            <div class="mr-auto"></div>
        <ul class="nav nav-pills ">
            <li class="nav-item " style="padding:10px; "><a href="#content1" class="nav-link red " style="color:rgb(48, 47, 47); font-weight:400; font-size:105%" >ABOUT</a></li>
            <li class="nav-item"  style="padding:10px; "><a href="#content2" class="nav-link red " style="color:rgb(48, 47, 47);  font-weight:400; font-size:105%">TRACK</a></li>
            <li class="nav-item"  style="padding:10px;"><a href="#content3" class="nav-link red " style="color:rgb(48, 47, 47);  font-weight:400; font-size:105%">TEAM</a></li>
            <li class="nav-item"  style="padding:10px;"><a href="#content4" class="nav-link red " style="color:rgb(48, 47, 47);  font-weight:400; font-size:105%">SCHEDULE</a></li>
            <li class="nav-item"  style="padding:10px;"><a href="#content5" class="nav-link red " style="color:rgb(48, 47, 47);  font-weight:400; font-size:105%">SPONSER</a></li>
            <li class="nav-item"  style="padding:10px;"><a href="#content6" class="nav-link red" style="color:rgb(48, 47, 47);  font-weight:400; font-size:105%">FAQ</a></li>
        
        </ul>
    </nav>
    <div id ="content1" class="container-fluid " style="position:relative;padding-top:70px;padding-bottom:120px;margin-top:-45px;background:#6bc8b0;">    
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 text-white">
                            <h2 class="section-heading" style="position:relative;font-size:52px; top:40px;left:-10%; width:110%;">Swadheenta prides itself on being gujarat’s biggest community hackathon.</h2>
                            <p class="mt-3" style="position:relative;font-size:23px;top:40px;left:-10%;">Swadheenta, the first venture of its kind, brings to you a complete product development package. Comprising of the hackathon Hack Infinity 2.0, where some of India’s best developers code their hearts out to perfection, and Indradhanush, where product presenters will be mentored for a heart throbbing crossfire session on their product, Swadheenta takes in an idea and a lot of skills and promises a model out.
                                </p>
                            <p style="position:relative;font-size:23px;top:40px;left:-10%;">Students can register individually for Hack Infinity as well as Indradhanush. However, students registering for Hack Infinity will have complimentary access to attend Indradhanush.</p>
                        </div>
                        <div class="col-lg-6 col-12 text-white flex-center">
                            <div class="art pt-5 pt-lg-0 d-flex flex-column align-items-lg-end align-items-center">
                                <div class="line line-1">
                                    <img class="img-fluid" src="https://hackinout.co/img/art-500.png" alt="500+">
                                    <div class="text" style="font-size:30px; padding-bottom:20px;">Hackers</div>
                                </div>
                                <div class="line line-2">
                                    <img class="img-fluid" style=" position:relative; left:-100%;" src="https://hackinout.co/img/art-48.png" alt="48">
                                    <div class="text" style="position:relative;font-size:30px;  padding-bottom:20px; left:-100%;">Hours</div>
                                </div><div class="line line-3">
                                    <img class="img-fluid" src="https://hackinout.co/img/art-mlr.png" alt="MLR">
                                    <div class="text" style="font-size:30px;  padding-bottom:20px;">DA-IICT, Gandhinagar</div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                                <div class="row" >
                                        <div class="col-lg-6 col-12 bag" >
                                        <p style="text-align: center;font-size:40px;">Hackinfinity</p>
                                        <p>One of India’s largest student hackathons, Hack Infinity 2.0, named after its parent, promises to be much more challenging, rewarding and incentivizing than ever before, with travel reimbursements, free accommodation, and huge prizes worth more than Rs 1.5 lakhs!! Delve right in to know more</p>
                                    </div>
                                
                                
                                    <div class="col-lg-6 col-12 bag ind" >
                                            <p style="text-align: center;font-size:40px;">Indradhanush</p>
                                            <p>A place to start from a prototype and grind it from all aspects, with help of some of the best in the business? Here’s where you ought to come. They say, nothing brings out the best in you, other than stiff competition, perfect mentorship and towering prizes. And here, you get all of it!! </p>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </section> 
            <section id="welcome" style="position:relative;background:#fff9f0; top:100px; padding-bottom:110px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto text-center text-white">
                            <img class="img-fluid" style="position:relative;top:100px;"src="https://hackinout.co/img/title-everyone-welcome.png" alt="Everyone is welcome">
                            <p class="mt-5" style="position:relative;top:110px;color:black;font-size:25px;width:110%;left:-5%;">Whether you’re writing your first lines of HTML, building a VR app or a hoverboard,Swadheenta is just the place for you. We will have workshops and mentors to help make your idea happen. You will be able to exhibit your skills without worrying about any mortal needs. We will take care of everything :)</p>
                        </div>
                    </div>
                   
                    <div class="container">
                        <div class="row mt-5 cards" style="position:relative;top:100px;width:110%;left:-3%; ">
                            <div class="col-lg-4 col-12 my-3">
                                <div class="card" style="border:none;">
                                    <img src="https://hackinout.co/img/make-friends.jpg" alt="Make friends" class="img-fluid imgc" style="border-radius:10px;">
                                    <div class="content">
                                        <div class="heading">To make new friends</div>
                                        <div class="body">
                                            Swadheenta provides a brilliant opportunity for you and your team to forge professional contacts and make new friends. With over 500 developers and designers gathering from all over the country in Bangalore, grab your chance of connecting with people to discuss ideas and opportunities.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 my-3">
                                <div class="card" style="border:none;">
                                    <img src="https://hackinout.co/img/to-learn.jpg" alt="To learn" class="img-fluid imgc" style="border-radius:10px;">
                                    <div class="content">
                                        <div class="heading">To learn</div>
                                        <div class="body">
                                            Hackathons are a great way to give back to the community. Mentoring beginners is always helpful for them and rewarding for us. We’re going to have mentors from a number of different organizations present at the venue. Whenever you’re stuck on a problem or need suggestions they'll always be within a hand’s reach.

                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-12 my-3 ">
                                <div class="card" style="border:none;">
                                    <img src="https://hackinout.co/img/to-build.jpg" alt="To build" class="img-fluid imgc" style="border-radius:10px;" >
                                    <div class="content">
                                        <div class="heading">To build</div>
                                        <div class="body">This year we are inviting not just students but everyone to build on ideas of their choice. Watching software materialize from pure thought, part by part is the closest to experiencing magic we have ever got to. And we’re excited to see that magic happen all over again!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>       
    </div>
        <div id ="content2" class="container-fluid" style="padding-top:70px;padding-bottom:70px;background-color:#8166cd;">
            <section id="tracks">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto text-center text-white" >
                            <img class="img-fluid" src="https://hackinout.co/img/title-amazing-tracks.png" alt="Amazing Tracks">
                            <p class="mt-3" style="font-size:160%;">Hack on any of these tracks to learn amazing new technology</p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row track-list mt-5" style="background-color:#f7f7f7; border-radius:10px; margin:px;">
                            <button class="btn col-lg-4 col-md-6 track-item in" type="button" data-toggle="modal" data-target="#trackModal" data-track="ai" style="padding:10px;">
                                <img src="https://hackinout.co/img/track-ai.png" alt="AI">
                                <div class="title mt-1">Artificial Intelligence</div>
                                
                            </button> 
                            <button class="btn col-lg-4 col-md-6 track-item " type="button" data-toggle="modal" data-target="#trackModal" data-track="blockchain">
                                <img src="https://hackinout.co/img/track-blockchain.png" alt="Blockchain">
                                <div class="title mt-1">Blockchain</div>
                                
                            </button> 
                            <button class="btn col-lg-4 col-md-6 track-item in" type="button" data-toggle="modal" data-target="#trackModal" data-track="iot">
                                <img src="https://hackinout.co/img/track-iot.png" alt="IoT">
                                <div class="title mt-1">Travel</div>
                               
                            </button> 
                            <button class="btn col-lg-4 col-md-6 track-item" type="button" data-toggle="modal" data-target="#trackModal" data-track="algorithm">
                                <img src="https://hackinout.co/img/track-algorithm.png" alt="Algorithm">
                                <div class="title mt-1">Agriculture</div>
                                
                            </button>
                            <button class="btn col-lg-4 col-md-6 track-item in" type="button" data-toggle="modal" data-target="#trackModal" data-track="fintech">
                                <img src="https://hackinout.co/img/track-fintech.png" alt="FinTech">
                                <div class="title mt-1">FinTech</div>
                               
                            </button>
                            <button class="btn col-lg-4 col-md-6 track-item" type="button" data-toggle="modal" data-target="#trackModal" data-track="future-mobility">
                                <img src="https://hackinout.co/img/track-future-mobility.png" alt="Future Mobility">
                                <div class="title mt-1">SURPRISEEEEEEEEE</div>
                                
                            </button>
                            
                                
                           
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style=" top:20%;">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
            </section>

            </div>
            <div id ="content3" class="container-fluid" style="padding-top:70px;padding-bottom:70px;background:#ffffff;">
                <section id="speakers">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto text-center text-white">
                                <p style="font-size:100px; color:rgb(224, 42, 78)">TEAM</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row grid mt-5">
                                <div class="speaker-col col-xl-3 col-md-4 col-6">
                                    <a href="" target="_blank" rel="noopener noreferrer">
                                        <div class="speaker-picture-wrapper">
                                            <img src="https://drive.google.com/open?id=1Pe4CwJlBxhuJ76EqmHdYlzIiSpImnMA1" alt="Dushyant">
                                        </div>
                                        <div class="title">Dushyant pathak</div>
                                        <div class="subtitle">President,<br>DCEI</div>
                                    </a>
                                </div>
                                <div class="speaker-col col-xl-3 col-md-4 col-6">
                                    <a href="" target="_blank" rel="noopener noreferrer">
                                        <div class="speaker-picture-wrapper">
                                            <img src="https://drive.google.com/open?id=1Eo78xkZvO2d-xovXXCoK3Rwe5P5Un9kU" alt="Abhishek">
                                        </div>
                                        <div class="title">Abhishek jissu</div>
                                        <div class="subtitle">Vice President,<br>DCEI</div>
                                    </a>
                                </div>
                                <div class="speaker-col col-xl-3 col-md-4 col-6">
                                    <a href="" target="_blank" rel="noopener noreferrer">
                                        <div class="speaker-picture-wrapper">
                                            <img src="https://drive.google.com/open?id=1wXT439Gyf9cAm5yeKM0DFWzvdSkpsMDb" alt="Rahil"></div>
                                            <div class="title">Rahil</div>
                                            <div class="subtitle">Vice President,<br>DCEI</div>
                                        </a>
                                    </div>
                                    <div class="speaker-col col-xl-3 col-md-4 col-6">
                                        <a href="" target="_blank" rel="noopener noreferrer">
                                            <div class="speaker-picture-wrapper">
                                                <img src="https://drive.google.com/open?id=1Y25l93D-BHIfXFhxZssbB1vImZHmnKTG" alt="Shivangi">
                                            </div>
                                            <div class="title">Shivangi</div>
                                            <div class="subtitle">Vice President<br>DCEI</div>
                                        </a>
                                    </div>
                                    <div class="speaker-col col-xl-3 col-md-4 col-6">
                                        <a href="" target="_blank" rel="noopener noreferrer">
                                            <div class="speaker-picture-wrapper">
                                                <img src="https://drive.google.com/file/d/1ZvBbweSQoFDF5z0Ha_TL26srdH-0-xTE/view" alt="Yash">
                                            </div>
                                            <div class="title">Yash</div>
                                            <div class="subtitle">Vice President,<br>DCEI</div>
                                        </a>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>
                </section>
                </div>
                <div id ="content4" class="container-fluid " style="padding-top:70px;padding-bottom:70px; background:#fff9f0;">
                    <section id="schedule">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 mx-auto text-center">
                                    <img class="img-fluid" src="https://hackinout.co/img/title-schedule.png" alt="Schedule">
                                    <p class="mt-3">Here's a rough breakdown of the two days you'll be spending at InOut.</p>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row mt-5">
                                    <div id="scheduleTable" class="mx-auto flex-lg-row flex-column">
                                        <table class="table table-1">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">19 October 2019</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>8:00 AM</td>
                                                    <td>Check-In and Breakfast</td>
                                                </tr>
                                                <tr>
                                                    <td>9:00 AM</td>
                                                    <td>Opening Ceremony</td>
                                                </tr>
                                                <tr>
                                                    <td>9:30 AM</td>
                                                    <td>
                                                        <div class="tag">talk</div>Hacking your life in 24 hours<br>
                                                        <span class="speaker-name">Bhagat Singh</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>10:05 AM</td>
                                                    <td><div class="tag">talk</div>Building accessible React apps<br>
                                                        <span class="speaker-name">Vikas Parashar</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>10:40 AM</td>
                                                    <td><div class="tag">talk</div>How to Get Involved with Ethereum<br>
                                                        <span class="speaker-name">Aditya Asgaonkar</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>11:15 AM</td>
                                                    <td><div class="tag">talk</div>Pratilipi: Scaling to 6 million users with a 10 member team<br>
                                                        <span class="speaker-name">Roshan Alexander</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>11:50 AM</td>
                                                    <td><div class="tag">talk</div>Evolution of Async Pattern in JS<br>
                                                        <span class="speaker-name">Sudhanshu Yadav</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>01:00 PM</td>
                                                    <td>Lunch</td>
                                                </tr>
                                                <tr>
                                                    <td>02:15 PM</td>
                                                    <td><div class="tag">talk</div>Blockchain 101<br>
                                                        <span class="speaker-name">Arpit Agarwal</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>02:50 PM</td>
                                                    <td><div class="tag">talk</div>Hello world: Enterprise Edition<br>
                                                        <span class="speaker-name">Lokesh Devnani</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>03:25 PM</td>
                                                    <td><div class="tag">talk</div>Digital Sky: India's Infrastructure for a million drones<br>
                                                        <span class="speaker-name">Siddharth Shetty</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4:00 PM</td>
                                                    <td>API Demos</td>
                                                </tr>
                                                <tr>
                                                    <td>4:30 PM</td>
                                                    <td>Hacking begins</td>
                                                </tr>
                                                <tr>
                                                    <td>5:30 PM</td>
                                                    <td>High tea</td>
                                                </tr>
                                                <tr>
                                                    <td>9:00 PM</td>
                                                    <td>Dinner</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-2">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">20 October 2019</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1:00 AM</td>
                                                    <td>Midnight snacks</td>
                                                </tr>
                                                <tr>
                                                    <td>8:00 AM</td>
                                                    <td>Breakfast</td>
                                                </tr>
                                                <tr>
                                                    <td>1:00 PM</td>
                                                    <td>Lunch</td>
                                                </tr>
                                                <tr>
                                                    <td>5:30 PM</td>
                                                    <td>Hacking stops</td>
                                                </tr>
                                                <tr>
                                                    <td>5:45 PM</td>
                                                    <td>Judging begins</td>
                                                </tr>
                                                <tr>
                                                    <td>6:00 PM</td>
                                                    <td>High tea</td>
                                                </tr>
                                                <tr>
                                                    <td>9:30 PM</td>
                                                    <td>Dinner</td>
                                                </tr>
                                                <tr>
                                                    <td>11:00 PM</td>
                                                    <td>Good-bye</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>   
                    </div>
                    <div id ="content6" class="container-fluid" style="padding-top:70px;padding-bottom:70px;background:#feffff;">
                        <section id="faq">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-10 mx-auto text-center">
                                        <img class="img-fluid" src="https://hackinout.co/img/title-faq.png" alt="FAQ.">
                                        <p class="mt-3" style="font-size:25px;">At Swadheenta, we strive to bring together developers to participate in the hackathon irrespective of gender, race, sexual orientation, socioeconomic background or ethnicity. We usually try to keep things simple. Read our FAQs to phase out ambiguity.</p>
                                    </div>
                                </div>
                                <div class="row mt-5" id="accordion">
                                    <div class="col-lg-6 col-12">
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Who can participate?
                                            </div>
                                            <div id="collapseOne" class="collapse accor" aria-labelledby="faqOne" data-parent="#accordion">
                                                <div class="card-body pt-2">Everyone is welcome to apply, be it students, professionals or turing-test certified androids. If you are under 18 years of age, we’ll need a parental consent form.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">How does the application process work?</div>
                                            <div id="collapseTwo" class="collapse accor" aria-labelledby="faqTwo" data-parent="#accordion">
                                                <div class="card-body pt-2">We’re looking for people who "do"! Folks who are passionate enough to work on crazy world-changing ideas. Tell us what makes you apply to Swadheenta, what excites you, accomplishments you are proud of and whatever else you think can strengthen your chances of acceptance. We’ll get to know more about your abilities from the past projects, GitHub profile, participation/awards in other hackathons.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Can we apply as a team?</div>
                                            <div id="collapseThree" class="collapse accor" aria-labelledby="faqThree" data-parent="#accordion">
                                                <div class="card-body pt-2">Yes! This hackathon is strictly a team competition. We believe that you’re stronger as a team than you are apart. You can join or create a team once you've started an individual application.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">What if I don’t have a team or an idea?</div>
                                            <div id="collapseFour" class="collapse accor" aria-labelledby="faqFour" data-parent="#accordion">
                                                <div class="card-body pt-2">Not to worry, most people don’t! We’ll have team formation and ideation events geared towards helping you find people to work with. 
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">What shouldn’t I bring?</div>
                                            <div id="collapseFive" class="collapse accor" aria-labelledby="faqFive" data-parent="#accordion">
                                                <div class="card-body pt-2">Weapons of any kind, drugs, or alcohol. If you’re not sure whether something will be okay, please ask ahead of time!</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">What about hardware?</div>
                                            <div id="collapseSix" class="collapse accor" aria-labelledby="faqSix" data-parent="#accordion">
                                                <div class="card-body pt-2">If you have specific hardware in mind, bring it with you. We will be doing our best to lend hardware at the event and enable you to work on your dream hack. We’ll put out a list closer to the event so you can see what’s available.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">I don’t want to hack, can I still get involved?</div>
                                            <div id="collapseSeven" class="collapse accor" aria-labelledby="faqSeven" data-parent="#accordion">
                                                <div class="card-body pt-2">
                                                    Yes, If your company is interested in becoming a sponsor, check out the sponsorship section above.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12" style="font-size:20
                                    px;">
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">When will applications close?</div>
                                            <div id="collapseEight" class="collapse accor" aria-labelledby="faqEight" data-parent="#accordion">
                                                <div class="card-body pt-2">The application portal will be closed on October 5th at 11:59pm IST. We evaluate applications on a rolling basis and acceptances will be sent every weekend via email. The sooner you apply, the better chances you have of acceptance. Once accepted, you’ll have three days to confirm your attendance.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">How much does it cost?</div>
                                            <div id="collapseNine" class="collapse accor" aria-labelledby="faqNine" data-parent="#accordion">
                                                <div class="card-body pt-2">Zero. Zip. Zilch. Nada. Nothing. Admission to InOut is completely free, thanks to our sponsors! We'll provide you with a weekend's worth of schwag, meals, drinks, snacks and a place to crash when you need a break from coding.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqTen" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">How big can a team be?</div>
                                            <div id="collapseTen" class="collapse accor" aria-labelledby="faqTen" data-parent="#accordion">
                                                <div class="card-body pt-2">You can form teams of up to 3 people. Most teams aim to have a mix of people with both design and developer skills.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqEleven" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">Once I am accepted, what do I need to bring?</div>
                                            <div id="collapseEleven" class="collapse accor" aria-labelledby="faqEleven" data-parent="#accordion">
                                                <div class="card-body pt-2">A valid government issued photo ID, laptop, phone, chargers, any sleeping equipment you might want (we'll be providing mattresses) and a geeky t-shirt!</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqTwelve" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">Do you provide travel reimbursements?</div>
                                            <div id="collapseTwelve" class="collapse accor" aria-labelledby="faqTwelve" data-parent="#accordion">
                                                <div class="card-body pt-2">Yes! Once accepted, you will have to submit your travel reimbursement forms and receipts on the dashboard. For each location hackers travel from, we’ll determine a reasonable cap. We will reimburse travel costs up to this cap only.</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqThirteen" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">What do I get by attending Swadheenta?</div>
                                            <div id="collapseThirteen" class="collapse accor" aria-labelledby="faqThirteen" data-parent="#accordion">
                                                <div class="card-body pt-2">Pretty much everything from socializing with fellow hacker community to internship/job offers from the coolest tech companies. And yeah we’ll have prizes for finalist teams, as well as the best hardware hack, and many other company sponsored prizes. We had well over ₹10,00,000 worth of prizes up for grab last time! Most of all, you will gain an unparalleled learning experience and memories for a lifetime!</div>
                                            </div>
                                        </div>
                                        <div class="card my-3 point">
                                            <div class="card-header btn collapsed accor" id="faqFourteen" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">How does judging work?</div>
                                            <div id="collapseFourteen" class="collapse accor" aria-labelledby="faqFourteen" data-parent="#accordion">
                                                <div class="card-body pt-2">A panel of some of the biggest names in tech will evaluate hacks based on creativity, technical difficulty, design, and usefulness. The top 5 overall projects will demo what they have built in front of all of InOut during our closing ceremonies. New judges will be announced on a rolling basis on Twitter and Facebook, so make sure to follow us!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mx-auto text-center">
                                    <p class="mt-5">Did we miss something?</p>
                                    <div class="contact-links"><a href="https://twitter.com/hackinoutco" target="_blank">
                                        
                                        <a href="mailto:hackinfinity2.0@gamil.com" target="_blank">
                                            <img src="https://hackinout.co/img/icon-mail.svg" alt="Email" >hackinfinity2.0@gamil.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>